<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>My Todo List</title>
  </head>
  <body>
    <div id="app" class="container">
      <button @click="purge">purge</button>
      <h1>My Todo List
        <span class="info">{{ remaining }} left/{{ todos.length }} todos</span>
      </h1>

      <ul v-if="todos.length">
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span>
          <button @click="deleteItem(index)">delete</button>
        </li>
      </ul>
      <ul  v-else>
        <li>No todos</li>
      </ul>
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem"/>
        <input type="submit" value="Add" />
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
